{% extends '_layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ object.name }} | Lists | {{ block.super }}{% endblock title %}

{% block headline %}
<h1>{{ object.nomer }}</h1>
{% endblock headline %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <p><a href="{% url 'qat:ask:detail' object.ask1.pk %}">1) {{ object.ask1.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask2.pk %}">2) {{ object.ask2.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask3.pk %}">3) {{ object.ask3.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask4.pk %}">4) {{ object.ask4.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask5.pk %}">5) {{ object.ask5.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask6.pk %}">6) {{ object.ask6.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask7.pk %}">7) {{ object.ask7.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask8.pk %}">8) {{ object.ask8.ask }}</a></p>
        <p><a href="{% url 'qat:ask:detail' object.ask9.pk %}">9) {{ object.ask9.ask }}</a></p>
    </div>
</div>
<div class="row">
    <br><hr>
    <div class="col-sm-6">
        <p><a href="{% url 'qat:card:list' %}">Вернуться к списку билетов</a></p>
    </div>
</div>
{% endblock %}
